html, body {
    height: 100%;
    width: 100%;
    font-family: "Rubik";
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.separator {
    border-bottom: 1px solid #E0E0E0;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 10px 25px;
    color: #353535;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    position: sticky;
    top: 0;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo, .menu-bar {
    display: flex;
    align-items: center;
    list-style: none;
}

#bold-text {
    font-weight: 475;
}

#bold-text a {
    text-decoration: none;
    color: #353535;
    overflow: hidden;
}

.menu {
    display: flex;
}

.menu-bar a {
    margin: 20px;
    color: #353535;
    text-decoration: none;
    overflow: hidden;
}

a:hover {
    color: #FF3F33;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-bar {
        display: none;
    }
}

/* Search menu */
.search-menu {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    flex-wrap: wrap;
}

.search-controls {
    display: grid;
    padding: 20px;
    width: 100%;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.search-degree input,
.search-university input,
.search-city input,
.search-state input,
.search-cost input {
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.search-degree,
.search-university {
    grid-column: span 3;
}

#asterisk span {
    color: #FF3F33
}

.search-city, 
.search-state,
.search-button {
    grid-column: span 1;
}

.search-button {
    align-self: flex-end;
}

.search-cost {
    grid-column: span 2;
}

.search-controls label {
    display: block;
    margin-bottom: 10px;
    font-weight: 475;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #353535;
    color: #606060;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline-style: solid;
    outline-color: #FF3F33;
    border-color: #FF3F33;
}

.search-button button {
    background-color: #FFFFFF;
    color: #FF3F33;
    border: 2px solid #FF3F33;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0px auto;
    width: 100px;
}

.search-button button:hover {
    background-color: #FF3F33;
    border-color: #FF3F33;
    color: #FFFFFF
}

.graduate-semester {
    display: flex;
    flex-direction: row;
}
  
.bar-button {
    padding: 10px 20px;
    margin-right: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    outline: none;
    cursor: pointer;
    overflow: hidden;

}
  
.bar-button.disabled {
    background-color: #E0E0E0;
    color: #808080;
    border-color: #E0E0E0;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}
  
.bar-button:hover:not(.disabled) {
    background-color: #FF3F33;
    border-color: #FF3F33;
    color: #FFFFFF;
}