html, body {
    height: 100%;
    width: 100%;
    font-family: "Rubik";
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.separator {
    border-bottom: 1px solid #E0E0E0;
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 10px 25px;
    color: #353535;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    position: sticky;
    top: 0;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo, .menu-bar {
    display: flex;
    align-items: center;
    list-style: none;
}

#bold-text {
    font-weight: 475;
}

#bold-text a {
    text-decoration: none;
    color: #353535;
    overflow: hidden;
}

.menu {
    display: flex;
}

.menu-bar a {
    margin: 20px;
    color: #353535;
    text-decoration: none;
    overflow: hidden;
}

a:hover {
    color: #FF3F33;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-bar {
        display: none;
    }
}

.search-menu {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
}

.search-controls {
    display: grid;
    margin: 20px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px;
}

.search-degree {
    grid-row: span 1;
    grid-column: span 5;
    margin-right: 25px;
}

.search-university {
    grid-row: span 1;
    grid-column: span 5;
    margin-right: 25px;
}

.search-state {
    grid-row: span 1;
    grid-column: span 2;
    margin-right: 50px;
}

.search-total-cost {
    grid-row: span 1;
    grid-column: span 2;
    margin-right: 25px;
}

.search-button {
    grid-row: span 1;
    grid-column: span 5;
    margin-right: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 475;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #353535;
    color: #606060;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline-style: double;
    outline-color: #FF3F33;
    border-color: #FF3F33;
}

button {
    background-color: #FFFFFF;
    color: #FF3F33;
    border: 2px solid #FF3F33;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: block;
    margin: 0px auto;
}

button:hover {
    background-color: #FF3F33;
    border-color: #FF3F33;
    color: #FFFFFF
}

.search-map {
    border: solid #353535;
    width: 100vw;
    height: 550px;
    background-image: url('../img/map.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
}
