html, body {
    height: 100%;
    width: 100%;
    font-family: "Rubik";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.separator {
    border-bottom: 1px solid #E0E0E0;
}

.navbar {
    display: flex;
    overflow: hidden;
    padding: 5px 30px 5px;
    color: #353535;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo, .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links a {
    margin-left: 20px;
    color: #353535;
    text-decoration: none;
}

.overview {
    display: flex;
    flex-direction: column;
}

.availability {
    color: #FFFFFF;
    background-color: #FF3F33;
    text-align: center;
    font-size: 25px;
    font-weight: 350;
}

.institutions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px 25px;
    gap: 5%;
}

#bold-text {
    font-weight: 450;
}

#summary {
    font-size: 25px;
    font-weight: 450;
}

#description {
    font-size: 15px;
}

#summary span, #description span {
    color: #FF3F33
}